<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Current Count</mat-card-title>
    <mat-card-subtitle>from ngrx store</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h1 style="text-align:center">
      {{ count$ | async }}
    </h1>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-raised-button (click)="increment()" color="accent">Increment</button>
    <button mat-raised-button (click)="decrement()" color="primary">Decrement</button>
    <button mat-raised-button (click)="reset()" color="secondary">Reset Counter</button>
  </mat-card-actions>
</mat-card>
